<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('homepage') }}">
            <img src="{{ asset('build/images/icon.svg') }}" width="30" height="30" class="d-inline-block align-top" alt="{{ brand_name }}'s logo">
            {{ brand_name }}
        </a>
    </nav>
</header>
