<h1>{{ 'templates.email.reset_password.h1'|trans }}</h1>

<p>{{ 'templates.email.reset_password.text'|trans }}</p>
{%- set link = absolute_url(path('reset_password_confirmation', {resetToken: user.resetToken})) -%}
<a href="{{ link }}" target="_blank">{{ link }}</a>
