{% extends 'base.html.twig' %}

{% block title %}{{ 'templates.user_security.wait_for_activation.title'|trans }}{% endblock %}

{% block body %}
    <div class="security-form card">
        <div class="card-body">
            <div class="d-flex flex-column text-center">
                <h1 class="h3 my-2">{{ 'templates.user_security.wait_for_activation.h1'|trans }}</h1>
                <p class="mb-3 small">{{ 'templates.user_security.wait_for_activation.subtitle'|trans }}</p>
            </div>
        </div>
    </div>
{% endblock %}